# Adresse ip du serveur
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Version FiveM
set sv_enforceGameBuild 3788

# Désactiver les ddos 
set sv_requestParanoia 3
set sv_endpointprivacy false
set sv_forceIndirectListing false
set sv_authMinTrust 4
set sv_UseDirectListing true
set sv_listingIPOverride localhost

# Désactiver les mods menu 
sv_scriptHookAllowed 0

# Augmentation des limites réseau pour le streaming
set sv_maxOutOfBandSizeUDP 100000
set net_maxPacketSize 50000
increase_pool_size "AnimStore" 4000 # Permet d'optimiser le pack d'animation.
increase_pool_size "Object" 2000 # Permet d'optimiser le pack d'objets.
increase_pool_size "ScaleformStore" 100 # Permet d'optimiser le pack de scaleform.
increase_pool_size "TxdStore" 30000 # Permet d'optimiser le pack de vêtements.

# Réglage du serveur
sv_hostname "Hostrix Serveur FiveM | 🌐 Livraison Hostrix.fr 🌐"
sets sv_projectName "Hostrix Serveur FiveM | 🌐 Livraison Hostrix.fr 🌐"
sets sv_projectDesc ""
sets tags ""
sets locale "fr-FR"
load_server_icon "logo.png"
sets Développeur "Hostrix.fr"
sets Discord "Discord.hostrix.fr"

# Joueur Max sur le serveur
sv_maxclients 10

# Réglage de licence 
set sv_licenseKey
set steam_webApiKey none

# Resource par default
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure vMenu

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

# Autre paramètre
sv_endpointprivacy true
set onesync on
exec resources/permissions.cfg
